
/*Completed CSS*/
body {
	background-image: url("../img/cat_tile_by_genicecream.png");
	background-repeat: repeat;
}

header {
	background-color: #86592d;
	color: #ffcccc;
	width: 100%;
	padding: .5em;
	text-align: center;
	text-shadow: 2px 2px black;
}
.profile {
	background-color: #D68F2B;
	margin: 2em;
	border-radius: 10px;
	opacity: 0.95;

}

.celeb-info {
	width: 45%;
	padding: .5em;


}

.celeb-feature {
	width: 45%;
	float: right;
	padding-bottom: 5em;
	clear: right;
}

#bob{
	clear: both;
}

img {
	height: 50%;
	width: 80%;
	float: up;
}
