<<<<<<< HEAD
/*Completed CSS*/
=======
>>>>>>> a0136a3c09ef1c50c931c6b62d40e149af9910de
body {
	background-image: url("../img/cat_tile_by_genicecream.png");
	background-repeat: repeat;
}

header {
	background-color: #86592d;
	color: #ffcccc;
	width: 100%;
	padding: .5em;
	text-align: center;
	text-shadow: 2px 2px black;
}